# python
*.pyc

#pyenv
.python-version

# local data
local_test.py
local_test_data/*
local_test_output/*


# build stuff
build/*
dist/*
*.egg-info

# setuptools-scm
giford/_version.py

# code coverage
.coverage
